


#Zoekbalk{
   width: 350px;
    margin-left: 2vw;
    margin-bottom: 2vw;
    margin-top: 1vw;
}

.hotelsList {
  padding-top: 3vw;
}

.HotelStyleVarient1,
.HotelStyleVarient2 {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  cursor: pointer;
  width: 70vm;
  padding: 1vw 1vw 1vw 1vw;
  height: 6vw;
  margin-left: 0.5vw;
  align-items: center;
  align-content:center;
}

.HotelStyleVarient1 {
  color: white;
  background-color: rgb(101, 129, 95)
}

.HotelStyleVarient2 {
  color: white;
  background-color: rgb(178, 192, 176)
}

.pdferror{
    color: red;
    background-color: lightcoral;
    width: 10vw;
    border-radius: 5pt;
    padding: 3px 3px 3px 3px;
    border: solid;
    margin-left: 0.5vw;
}

/* #hotelcontract{
    height: 500px;
    width: 32vw;
    margin-left:0.5vw;
    overflow: scroll;
    background-color: black;
    padding: 10px 10px 10px 10px;
    
} */

.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:hover {
  background-color: #2c974b;
}
#hotelcontract{
    display: grid;
}

