// overwrite theme variables

$primary:#1F3225;
$secondary:#86838C;
$dark:#C4BBC1;
$light:#9D8F88;
$success:#596B4E;
$info:blue;
$warning:yellow;
$danger:red;

@import '~bootstrap/scss/bootstrap.scss'